.product-page .section-title {
  margin-top: 20px;
}

.product__item {
  display: flex;
  gap: 50px;
}

.product-item__buttons {
  margin-top: 15px;
}

.product__slider {
  position: relative;
}

.product__info {
  padding-top: 15px;
  align-items: start;
  display: grid;
  gap: 20px;
}

.product__info__header {
  font-weight: 400;
}

.product__info .specification__list {
  margin: 10px 0;
}

.product__info .specification__item {
  margin-left: 0;
  padding-left: 0;
}

.product__info .specification__property {
  font-weight: normal;
}

.product__info .specification__value {
  color: #9b9b9b;
}

.product__info .specification__link {
  color: #976f55;
}

.product__info .specification__link:hover,
.product__info .specification__link:active {
  color: #000000;
}

.product__item .social {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: -10px;
}

.product__item .social__heading {
  align-self: center;
}

.product__item .social__list {
  gap: 5px;
}

.specification__list {
  display: contents;
  padding: 20px;
  line-height: 1em;
}

.specification__item {
  padding: 5px;
  margin-left: 35px;
}

.specification__property {
  font-weight: bolder;
}

.related-products__heading {
  padding: 40px 0;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: .075em;
  text-align: center;
}

.related-products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.related-product {
  text-align: center;
  width: min-content;
}

.related-product__image-wrap {
  width: 270px;
  height: 280px;
  max-width: calc(100vw - 30px);
  max-height: calc(100vw - 30px);
  background: #f4f4f4;
}

.related-product__image {
  margin: 35px;
  width: -moz-available;          /* WebKit игнор. */
  width: -webkit-fill-available;  /* Mozilla игнор. */
  width: fill-available;
  height: -moz-available;          /* WebKit игнор. */
  height: -webkit-fill-available;  /* Mozilla игнор. */
  height: fill-available;
  transform: scale(1);
  transition: transform .25s ease;
}

:hover>.related-product__image {
  transform: scale(1.05);
}

.related-product__button-wrap {
  transform: scale(1);
  transition: all .25s ease;
}

:hover>.related-product__button-wrap {
  transform: scale(0.93);
}

.related-product__button {
  transform: translateY(30px) scale(0.9);
  opacity: 0;
  transition: all .35s ease;
}

:hover>.related-product__button {
  transform: translateY(0) scale(0.9);
  opacity: 1;
}

.related-product__title {
  padding: 15px 15px 0;
  font-weight: 400;
  font-size: 18px;
}

.related-product__price {
  padding-top: 10px;
  font-size: 15px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}


.tabs [type=radio] {
  display: none;
}

.tabs label {
  flex: 1 0 50%;
  letter-spacing: .1em;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: transparent;
}

.tab__title {
  position: relative;
  display: inline-block;
  font-size: 0.9em;
  padding: 26px 20px;
  letter-spacing: .075em;
}

[type=radio]:checked+label {
  border-color: #e1e1e1;
}

.tab__content {
  flex: 1 0 100%;
}

.tab__content__item {
  display: none;
  visibility: hidden;
  padding: 20px 20px 30px;
  border: 1px solid #e1e1e1;
}

#about-product:checked~.tab__content .about-product {
  display: flex;
  visibility: visible;
}

#full-spec:checked~.tab__content .full-spec {
  display: flex;
  visibility: visible;
}

@media (min-width: 992px) {
  .product__slider {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .product__info {
    flex: 1 1 55%;
    max-width: 55%;
  }

  .tab__content__item {
    padding: 45px 40px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .related-product__image-wrap {
    width: 210px;
    height: 218px;
    background: #f4f4f4;
  }

  .related-product__image {
    margin: 30px;
  }
}


@media (min-width: 1201px) {
  .product-page .container {
    padding: 0;
  }

  .product__info__header {
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  .product__item {
    flex-direction: column;
    gap: 20px;
  }

  .specification__item {
    padding: 0;
    margin-left: 0;
    /* word-break: normal; */
  }

  .product__info {
    flex: 1 1 100%;
    max-width: 100%;
    justify-items: center;
  }
}

@media (max-width: 768px) and (min-width: 578px) {
  .related-product__image-wrap {
    width: 240px;
    height: 248px;
    background: #f4f4f4;
  }
}

@media (max-width: 400px) {
  .product-item__buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: min-content;
  }

  .tab__content__item {
    font-size: 0.8em;
  }

  .product-item__buttons .button {
    width: 100%;
  }
}