.product-page .section-title {
  margin-top: 20px;
}

.product__item {
  display: flex;
  gap: 50px;
}

.product-item__buttons {
  margin-top: 15px;
}

.product__slider {
  position: relative;
}

.product__info {
  padding-top: 15px;
  align-items: start;
  display: grid;
  gap: 20px;
}

.product__info__header {
  font-weight: 400;
}

.product__info .specification__list {
  margin: 10px 0;
}

.product__info .specification__item {
  margin-left: 0;
  padding-left: 0;
}

.product__info .specification__property {
  font-weight: normal;
}

.product__info .specification__value {
  color: #9b9b9b;
}

.product__info .specification__link {
  color: #976f55;
}

.product__info .specification__link:hover,
.product__info .specification__link:active {
  color: #000000;
}

.product__item .social {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: -10px;
}

.product__item .social__heading {
  align-self: center;
}

.product__item .social__list {
  gap: 5px;
}

.specification__list {
  display: contents;
  padding: 20px;
}

.specification__item {
  padding: 5px;
  margin-left: 35px;
}

.specification__property {
  font-weight: bolder;
}

.relared-products__heading {
  padding: 40px 0;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: .075em;
  text-align: center;
}

.relared-products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.relared-product {
  text-align: center;
}

.relared-product__image-wrap {
  width: 270px;
  height: 280px;
  background: #f4f4f4;
}

.relared-product__image {
  margin: 35px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  transform: scale(1);
  transition: transform .25s ease;
}

:hover>.relared-product__image {
  transform: scale(1.05);
}

.relared-product__button-wrap {
  transform: scale(1);
  transition: all .25s ease;
}

:hover>.relared-product__button-wrap {
  transform: scale(0.93);
}

.relared-product__button {
  transform: translateY(30px) scale(0.9);
  opacity: 0;
  transition: all .35s ease;
}

:hover>.relared-product__button {
  transform: translateY(0) scale(0.9);
  opacity: 1;
}

.relared-product__title {
  padding-top: 15px;
  font-weight: 400;
  font-size: 18px;
}

.relared-product__price {
  padding-top: 10px;
  font-size: 15px;
}

@media (min-width: 992px) {
  .product__slider {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .product__info {
    flex: 1 1 55%;
    max-width: 55%;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .relared-product__image-wrap {
    width: 210px;
    height: 218px;
    background: #f4f4f4;
  }

  .relared-product__image {
    margin: 30px;
  }
}


@media (min-width: 1201px) {
  .product-page .container {
    padding: 0;
  }

  .product__info__header {
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  .product__item {
    flex-direction: column;
  }

  .product__info {
    flex: 1 1 100%;
    max-width: 100%;
    justify-items: center;
  }
}

@media (max-width: 768px) and (min-width: 578px) {
  .relared-product__image-wrap {
    width: 240px;
    height: 248px;
    background: #f4f4f4;
  }
}

@media (max-width: 400px) {
  .product-item__buttons {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: min-content;
  }

  .product-item__buttons .button {
    width: 100%;
  }
}