.slick-track {
  height: 100%;
}

.slider-for,
.slider-nav {
  position: relative;
  width: 100%;
}

.slider-for {
  padding-top: 100%;
}

.slider-nav {
  margin-top: 15px;
  padding-top: 30%;
}

.slider-for .slick-list,
.slider-nav .slick-list {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider__image--big,
.slider__image--small {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider-nav .slick-slide {
  margin: 0 7.5px;
}

.slider-nav .slick-list {
  margin: 0 -7.5px;
}