@import './animations.css';

body {
	margin: 0;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.7;
	font-weight: 400;
	color: #151515;
	text-align: left;
	background-color: #ffffff;
	overscroll-behavior: none;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
button,
.button {
	margin-bottom: 0.5rem;
	font-family: 'Oswald', sans-serif, helvetica, ribbon-condensed, standard-block;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	line-height: 1.1;
	color: #151515;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

a:focus,
a:active,
a:hover {
	color: #efc4a3;
}


a {
	color: inherit;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.buttons__group {
	display: flex;
	gap: 30px;
}

.button {
	position: relative;
	padding: 20px 35px;
	width: fit-content;
	border: 2px solid;
	letter-spacing: 0.075em;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	will-change: background-color;
	transition: all .3s ease, background-color .2s ease;
	z-index: 1;
}

.button::after {
	position: absolute;
	top: -15%;
	left: 0;
	content: "";
	width: 100%;
	height: 130%;
	transform: scale(0.8);
	opacity: 0;
	transition: all .3s ease;
	z-index: -1;
}

.button:hover::after,
.button:focus::after {
	transform: scale(1);
	opacity: 1;
}

/* default button stecific styles */
.button--default {
	border-color: #151515;
	background-color: transparent;
}

.button--default:hover,
.button--default:focus {
	color: #ffffff;
	border-color: #efc4a3;
}

.button--default::after {
	background-color: #efc4a3;
}

/* colored button stecific styles */
.button--colored {
	color: #ffffff;
	background-color: #efc4a3;
	border-color: #efc4a3;
}

.button--colored:hover,
.button--colored:focus {
	border-color: #151515;
}

.button--colored::after {
	background-color: #151515;
}

/* white button stecific styles */
.button--white {
	color: #151515;
	background-color: #ffffff;
	border-color: #ffffff;
}

.button--white:hover,
.button--white:focus {
	color: #ffffff;
	border-color: #efc4a3;
}

.button--white::after {
	background-color: #efc4a3;
}

/* end of button styles */

.divider {
	font-size: 0;
	line-height: 0;
	height: 1px;
	width: 100%;
	background: #e1e1e1;
}

.divider-30 {
	margin: 30px 0;
}

.divider-15 {
	margin: 15px 0;
}

.price {
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 1;
	font-family: 'Oswald', sans-serif, helvetica, ribbon-condensed, standard-block;
	color: #976f55;
}

.item {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.dark-on-hover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.3);
	transition: opacity .3s ease;
}

.item:hover>.dark-on-hover {
	opacity: 1;
	visibility: visible;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #ffffff;
	z-index: 2;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
}

.header-wrap {
	display: flex;
	gap: 30px;
	align-items: center;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 30px;
	transition: padding .35s ease-in-out;
}

.header-logo__link {
	display: flex;
}

.header-navbar {
	flex-grow: 1;
	flex-shrink: 0;
}


.navbar-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.navbar-list__item {
	position: relative;
}

.navbar-toggler {
	display: none;
}

.navbar-list__item.active {
	background-color: #efc4a3;
}

.nav-link {
	font-size: 15px;
	padding: 27px 16px;
	display: inline-block;
	transition: .25s;
	border: 1px solid transparent;
}

.nav-link:focus-visible {
	outline: none;
	border: 1px solid #000000;
}

.navbar-list__item.active .nav-link,
.navbar-list__item.active .nav-link:hover {
	color: #ffffff;
}

.navbar-dropdown {
	margin-top: 0;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
	position: absolute;
	left: 0;
	padding: 22px 15px 34px 34px;
	width: 270px;
	background: #ffffff;
	z-index: 5;
	display: block;
	text-align: left;
	border: none;
	opacity: 0;
	visibility: hidden;
	transform: translate3d(0, 30px, 0);
	transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.navbar-list__item:hover>.navbar-dropdown {
	opacity: 1;
	visibility: visible;
	transform: none;
}

.dropdown-link {
	position: relative;
	text-transform: capitalize;
	line-height: 2.3;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-link:hover,
.dropdown-link:focus {
	padding-left: 15px;
	color: #151515
}

.dropdown-link::before {
	display: inline-block;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 3px;
	height: 26px;
	font-size: 0;
	line-height: 0;
	background: #efc4a3;
	transition: all .15s ease;
	visibility: hidden;
	opacity: 0;
}

.dropdown-link:hover:before {
	visibility: visible;
	opacity: 1;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.section {
	padding-top: 72px;
	margin-bottom: -72px;
}

.section:last-child {
	margin-bottom: 0;
}

.section-title {
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin: 40px 0;
}

.section-title-content {
	position: relative;
	display: inline-block;
	font-size: 1em;
	padding: 0 16px;
	letter-spacing: .075em;
}

.section-title-content::before {
	left: 0;
	transform: translate3d(-100%, 0, 0);
}

.section-title-content::after {
	right: 0;
	transform: translate3d(100%, 0, 0);
}

.section-title-content::before,
.section-title-content::after {
	position: absolute;
	content: "";
	top: calc(50% - 2px);
	height: 1px;
	width: 100vw;
	background: #d7d7d7;
}

/* Slider */
#slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slider__item__background {
	z-index: -1;
	width: 100vw;
	min-width: 100vw;
	min-height: 100%;
	object-fit: cover;
}

.slider__item .container {
	margin: auto;
}

.slider__item.slick-active * {
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	opacity: 1;
}

.slider__item.slick-active .slider__item__title {
	animation-name: fadeInRight;
}

.slider__item.slick-active .slider__item__description {
	animation-name: slideInDown;
}

.slider__item.slick-active .slider__item__button {
	animation-name: slideInUp;
}

.slider__item__caption {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 25px;
	z-index: 1;
}

.slider__item__title {
	line-height: 1.4;
	font-weight: 400;
}

.slider__item__description {
	font-size: 16px;
	line-height: 1.625;
	font-weight: 500;
	letter-spacing: 0;
}

.slider__arrow-button {
	position: absolute;
	margin: 20px;
	width: 47px;
	height: 47px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 1;
	will-change: transform;
	transition: all .3s ease-in-out;
}

.slider__arrow-button__prev {
	left: 0;
}

.slider__arrow-button__next {
	right: 0;
}

.slider__arrow-button::before {
	display: inline-block;
	content: "";
	border-style: solid;
	border-color: transparent;
	border-width: 5px 8px 5px 0;
	border-right-color: #efc4a3;
}

.slider__arrow-button__prev::before {
	margin-right: 5px;
}

.slider__arrow-button__next::before {
	margin-left: 5px;
	transform: rotate(180deg);
}

.slider__arrow-button::after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	transition: inherit;
	z-index: -1;
}

.slider__arrow-button:hover::before {
	transform: scale(1.4);
	border-right-color: #ffffff;
}

.slider__arrow-button__next:hover::before {
	transform: rotate(180deg) scale(1.4);
}

.slider__arrow-button:hover::after {
	transform: rotate(360deg);
	border-radius: 50%;
	background: #efc4a3;
}

.slick-dots {
	position: absolute;
	align-self: flex-end;
	display: flex;
	justify-content: center;
	gap: 20px;
	line-height: 0;
	width: 100vw;
	padding-bottom: 14px;
}

.slick-dots li button {
	display: block;
	width: 14px;
	height: 14px;
	padding: 0;

	border: none;
	background: rgba(239, 196, 163, 0.6);

	text-indent: -9999px;
}

.slick-dots li.slick-active button {
	background-color: #976f55;
	;
}

/* Categories */
.categories-list,
.projects-list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 30px;
}

/* Categories__item */
.categories__item {
	line-height: 0;
	max-width: calc(100vw - 30px);
	position: relative;
}

.categories__item:first-child {
	grid-column: 1 / 3;
}


.categories__item-wrap,
a {
	text-decoration: none;
}

.categories__item-photo,
.project__item {
	max-height: calc(100vw - 30px);
}

.categories__item-caption {
	height: 50px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e1e1e1;
	background-color: #ffffff;
	transition: background-color .3s ease-in-out;
}

.categories__item-title {
	font-weight: 400;
	font-size: 18px;
	letter-spacing: .025em;
	transition: all .3s ease-in-out;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.categories__item-arrow {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-shrink: 1;
	width: 50px;
	font-size: 0;
	transition: all .25s ease;
}


.categories__item:first-child .categories__item-arrow {
	width: 88px;
	margin-left: 20px;
}

.categories__item-arrow::before,
.categories__item-arrow::after {
	display: inline-block;
	vertical-align: middle;
	content: "";
	transition: all .3s ease-in-out;
}

.categories__item-arrow::before {
	height: 2px;
	width: 21px;
	margin-right: 4px;
	background-color: rgba(21, 21, 21, 0.21);
}

.categories__item-arrow::after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent rgba(21, 21, 21, 0.21);
}

.categories__item-badge {
	position: absolute;
	overflow: hidden;
	height: 30px;
	width: 65px;
	text-align: center;
	top: 30px;
	right: 0;
	font-size: 21px;
	line-height: 1.4;
	letter-spacing: .025em;
	font-family: 'Oswald', sans-serif, helvetica, ribbon-condensed, standard-block;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	color: #151515;
	z-index: 1;
}

.categories__item-badge::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: skew(-10deg);
	transform-origin: 50% 100%;
	z-index: -1;
}

.categories__item-sale {
	color: #ffffff;
}

.categories__item-sale::before {
	background: #976f55;
}

.categories__item-new::before {
	background: #fbef89;
}

.categories__item-wrap:hover .categories__item-caption {
	background-color: #efc4a3;
	border-color: #efc4a3;
}

.categories__item-wrap:hover .categories__item-title {
	color: #ffffff;
	letter-spacing: 0.08em;
}


.categories__item-wrap:hover .categories__item-title:hover,
.advantages__item:hover .advantages__text__heading:hover {
	opacity: 0.8;
}

.categories__item-wrap:hover .categories__item-arrow::before {
	width: 100%;
	background-color: #ffffff;
}

.categories__item-wrap:hover .categories__item-arrow::after {
	border-left-color: #ffffff;
}


/* About */

.about-content {
	display: flex;
	flex-direction: column;
	gap: 1em;
	text-align: justify;
}

/* Advantages */

#advantages .container,
.advantages__content {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.advantages__item {
	position: relative;
	display: flex;
	flex: 0 0 33.33333%;
	max-width: calc(100%/3 - 30px);
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding: 40px 16px;
	min-height: 100%;
	border: 1px solid #d7d7d7;
	outline: 1px solid #d7d7d7;
	outline-offset: -8px;
	transition: all .3s ease;
}

.advantages__item:hover {
	border: 1px solid #efc4a3;
	outline-color: #ffffff;
}


.advantages__text-link,
.advantages__text__descriprion,
.advantages__icon {
	transition: color .3s ease;
}

.advantages__item:hover .advantages__text-link,
.advantages__item:hover .advantages__text__descriprion,
.advantages__item:hover .advantages__icon {
	color: #ffffff;
}

.advantages__item::after {
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #efc4a3;
	transform: scale(0.8);
	opacity: 0;
	transition: all .3s ease;
	z-index: -1;
}

.advantages__item:hover::after {
	transform: scale(1);
	opacity: 1;
}

.advantages__icon {
	font-size: 40px;
	line-height: 0;
	color: #976f55;
}

.advantages__text__heading {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1;
}

.advantages__text__descriprion {
	color: #9b9b9b;
	letter-spacing: .05em;
	overflow: hidden;
}

/* Projects__item */



.project-image {
	display: flex;
}

.project-description .icon {
	font-size: 35px;
	color: #ffffff;
	transform: translateY(-15px);
	transition: transform .3s ease;
}

.project-description .icon:hover {
	opacity: 0.5;
}

.project-title {
	font-size: 25px;
	color: #ffffff;
	transform: translateY(15px);
	transition: transform .3s ease;
}

.project__item:hover .icon,
.project__item:hover .project-title {
	visibility: visible;
	transform: translateY(0);
}

.project__item::after {
	position: absolute;
	content: "";
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	transform: scale(0.85);
	opacity: 0;
	border: 1px solid rgba(255, 255, 255, 0.5);
	transition: opacity .3s ease, transform .3s ease;
}

.project__item:hover::after {
	pointer-events: none;
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

/* Footer */
footer {
	width: 100%;
	padding-bottom: 0;
	color: rgba(255, 255, 255, 0.5);
	background: #272727;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: flex-start;
	justify-content: space-between;
	padding: 65px 15px;
}

.footer__heading {
	color: #ffffff;
	font-size: 20px;
	padding-bottom: 30px;
}

.footer-contacts__item {
	padding-bottom: 10px;
	display: flex;
	gap: 20px;
	align-items: center;
	line-height: 1.5em;
}

.footer-contacts__item .icon {
	line-height: 0;
	font-size: 20px;
	color: #d1ab8d;
}

.footer-contacts-text {
	max-width: 350px;
}

.footer__heading.social__heading {
	text-align: center;
}

.social__list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 15px;
}

.social__link {
	display: block;
	line-height: 0;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.social__link--white-bg {
	background-color: #272727;
}

.social__link:active,
.social__link:hover,
.social__link:focus {
	background-color: #efc4a3;
}

.social__link--white-bg:active,
.social__link--white-bg:hover,
.social__link--white-bg:focus {
	background-color: #976f55;
}

.social__icon {
	width: 35px;
	height: 35px;
	outline: 2px solid #272727;
	outline-offset: -1px;
	border-radius: 50%;
}

.social__icon--white-bg {
	filter: invert(1) brightness(2);
}

.social__icon--white-bg[alt="telegram"] {
	transform: scale(1.2);
}

:hover>.social__icon:not(.social__icon--white-bg),
:active>.social__icon:not(.social__icon--white-bg),
:focus>.social__icon:not(.social__icon--white-bg) {
	filter: contrast(0.9);
}

.footer-rights {
	padding: 15px 0;
	opacity: 0.4;
	font-size: 0.8em;
	background: #000000;
}

@media (min-width: 768px) {
	.section--first {
		padding-top: 100px;
	}

	.slider__item__title {
		font-size: 45px;
	}
}

@media (min-width: 1201px) {

	.section {
		padding-top: 90px;
		padding-bottom: 60px;
		margin-bottom: -90px;
	}

	.section--first {
		padding-top: 120px;
	}

	/* #slider, */
	.slide__item,
	.slick-slide {
		height: 550px;
		max-height: 550px;
	}

	.slider__item__caption {
		max-width: 40%;
		padding-left: 90px;
	}

	.slider__item__title {
		font-size: 55px;
	}

	.nav-link {
		padding: 36px 28px;
	}


	.categories__item-caption {
		height: 92px;
		padding-right: 22px;
		padding-left: 35px;
	}

	.categories__item-title {
		font-size: 25px;
	}

}


@media (max-width: 1200px) {
	.section {
		padding-bottom: 40px;
	}

	#slider,
	.slide__item.slick-track {
		height: 550px;
	}

	.slider__item__caption {
		max-width: 50%;
		padding-left: 80px;
	}

	.container {
		max-width: 960px;
	}
}

@media (max-width: 1199px) and (min-width: 993px) {

	.categories__item-photo,
	.project__item {
		height: 260px;
	}

	.advantages__text {
		text-align: center;
	}
}

@media (max-width: 992px) {
	.section {
		padding-bottom: 20px;
	}

	.container {
		max-width: 720px;
	}

	footer {
		font-size: 0.8em;
	}

	.footer-container {
		padding: 35px 15px;
	}

	#slider,
	.slick-track {
		height: 500px;
	}

	.slider__item__caption {
		max-width: 60%;
		padding-left: 60px;
	}

	.header-phone {
		display: none;
	}

	.categories-list,
	.projects-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.advantages__item {
		flex: 0 0 50%;
		max-width: calc(50% - 15px);
	}

	.categories__item:last-child {
		grid-column: 1 / 3;
		/* width: 88px; */
		/* margin-left: 20px; */

	}

}


@media (max-width:767px) {
	.header-pannel {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		height: 56px;
		padding-left: 20px;
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
		z-index: 2;
	}

	.header-navbar {
		background: #ffffff;
		border: 1px solid #d7d7d7;
		box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 270px;
		min-height: 100vh;
		padding: 56px 0 81px;
		overflow-y: auto;
		overflow-x: hidden;
		font-size: 14px;
		line-height: 34px;
		transform: translateX(-110%);
		transition: 0.3s all ease;
	}

	.header-navbar::-webkit-scrollbar {
		width: 4px;
		background-color: #d7d7d7;
	}

	.header-navbar::-webkit-scrollbar-thumb {
		background-color: #fbd8bddb;
	}

	.header-navbar.active {
		transform: translateX(0);
	}

	.navbar-list {
		display: block;
		height: auto;
		text-align: left;
	}

	.navbar-list__item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 4px;
		position: relative;
		text-align: left;
		overflow: hidden;
	}

	.nav-link {
		flex-grow: 1;
		order: -1;
		display: block;
		padding: 15px 56px 15px 18px;
		font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		letter-spacing: 0.05em;
		text-transform: capitalize;
	}

	.navbar-list__item.active>.nav-link,
	.dropdown-link:active,
	.navbar-toggler:checked~.nav-link {
		background-color: #976f55;
		color: #ffffff;
	}

	.navbar-toggler {
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
		margin: 0;
		background-color: transparent;
		transition: 0.25s all ease;
	}


	.navbar-toggler::after {
		content: "›";
		position: absolute;
		top: 50%;
		right: 50%;
		font-size: 20px;
		transform: translate(50%, -50%) rotate(-90deg);
		transition: inherit;
		z-index: 2;
		cursor: pointer;
	}

	.navbar-toggler::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #ffffff;
		transition: inherit;
	}


	.navbar-toggler:checked::before,
	.navbar-list__item.active>.navbar-toggler::before {
		background-color: #976f55;
	}

	.navbar-toggler:checked::after,
	.navbar-list__item.active>.navbar-toggler::after {
		color: #ffffff;
	}

	.navbar-toggler:checked::after {
		transform: translate(100%, -50%) rotate(90deg);
	}

	.navbar-toggler~.navbar-dropdown {
		position: relative;
		flex-grow: 2;
		padding: 0;
		box-shadow: none;
		height: 0;
		overflow: hidden;
		transform: scaleY(0);
		transition: none;
	}

	.navbar-toggler:checked~.navbar-dropdown {
		padding: 5px 0;
		opacity: 1;
		visibility: visible;
		transform: scaleY(1);
		height: fit-content;
	}


	.dropdown-link {
		display: block;
		padding: 5px 34px;
		font-size: 1.1em;
	}

	.dropdown-link::before {
		display: none;
	}

	.dropdown-link:hover,
	.dropdown-link:focus {
		padding-left: 34px;
	}

	.hamburger {
		display: block;
		position: fixed;
		right: 20px;
		width: 20px;
		height: 1em;
		z-index: 3;
	}

	.hamburger::before,
	.hamburger::after,
	.hamburger span {
		position: absolute;
		content: "";
		width: 100%;
		height: 2px;
		background-color: #000000;
	}

	.hamburger::before {
		top: 0;
	}

	.hamburger::after {
		bottom: 0;
	}

	.hamburger span {
		top: 45%;
	}

	/* Change burger to X */
	.hamburger.active::before {
		transform: rotate(45deg);
		top: 45%;
	}

	.hamburger.active::after {
		transform: rotate(-45deg);
		top: 45%;
	}

	.hamburger.active span {
		transform: scale(0);
	}

	.welcome-message {
		max-width: 75%;
	}

	.container:not(.footer-container) {
		max-width: 540px;
	}

	.footer-container {
		padding: 35px 30px;
	}


	.footer-container {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	.footer-contacts {
		grid-row: 1 / 3;
		grid-column: 1;
	}

	.footer__heading {
		padding-bottom: 1em;
	}

	.footer-social .footer__heading {
		display: none;
	}

	.slider__item__caption {
		max-width: 70%;
		padding-left: 0;
	}
}

@media (max-width: 768px) and (min-width: 577px) {

	.categories__item-photo,
	.project__item {
		height: 215px;
	}

	.advantages__text {
		text-align: center;
	}
}

@media (max-width:575px) {
	.slider__item__caption {
		max-width: 80%;
	}

	.categories-list,
	.projects-list {
		grid-template-columns: auto;
	}

	.categories__item:first-child,
	.categories__item:last-child {
		grid-column: 1;
	}

	.advantages__item {
		flex-grow: 1;
		max-width: 100%;
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0;
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.footer-logo,
	.footer__heading {
		display: none;
	}

	.social__list {
		justify-content: center;
	}
}

@media (max-width:450px) {
	.section-title {
		margin: 30px 0;
	}
}

.scalable-image-wrap {
	width: 100%;
	overflow: hidden;
}

.shrink-image {
	width: 100%;
	object-fit: cover;
	transform: scale(1.2);
	transition: all .3s ease;
}

.shrink-container:hover .shrink-image {
	transform: scale(1);
}

.grow-image {
	width: 100%;
	object-fit: cover;
	padding: 10px;
	transform: scale(1);
	transition: all .3s ease;
}

.grow-container:hover .grow-image {
	transform: scale(1.1);
}


.lg-outer .lg-thumb-outer {
	background-color: #0d0a0a;
	bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 1080;
	max-height: 350px;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	-moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	-o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-outer .lg-thumb {
	padding: 10px 0;
	height: 100%;
	margin-bottom: -5px;
	margin-left: auto;
	margin-right: auto;
}


.lg-outer .lg-thumb-item {
	border: 2px solid transparent !important;
	border-radius: unset !important;
}

.lg-outer .lg-thumb-item.active {
	border-color: #976f55 !important;
}

.lg-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1090;
	background-color: rgba(0, 0, 0, 0.8) !important;
	opacity: 0;
	-webkit-transition: opacity .15s ease 0s;
	-o-transition: opacity .15s ease 0s;
	transition: opacity .15s ease 0s;
}

.lg-outer .lg-toogle-thumb:hover,
.lg-outer.lg-dropdown-active #lg-share {
	color: #fff;
}

.lg-outer .lg-toogle-thumb {
	background-color: #0d0a0a;
	border-radius: 2px 2px 0 0;
	color: #999;
	cursor: pointer;
	font-size: 24px;
	height: 39px;
	line-height: 27px;
	padding: 5px 0;
	position: absolute;
	right: 20px;
	text-align: center;
	top: -39px;
	width: 50px;
}

.lg-outer .lg-toogle-thumb:after {
	content: "\e1ff";
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
	background-color: rgba(0, 0, 0, 0.45) !important;
}